.form{
    width: 25%;
    height: auto;
    background-color: rgb(1, 53, 72);
    padding: 50px;
    margin: auto;
    border-radius: 10px ;
    border: 4px solid rgb(0, 0, 0);; 
   
}


.texto{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1{
    color: rgb(247, 3, 3);
    background-color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}